:root {
	--button-primary-background: #bb39e5;
	--button-primary-color: #deeeee;

	--grey-primary: #20232a;
	--white: #FFFFFF;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
}

body {
	font-size: 16px;
	background: var(--grey-primary);
	box-sizing: border-box;
}

.u-d-none {
	display: none;
}

.u-visibility-none {
	visibility: hidden;
}

.u-justify-center {
	justify-content: center;
}

.u-justify-start {
	justify-content: flex-start;
}

.u-justify-end {
	justify-content: flex-end;
}

.u-align-center {
	align-items: center;
}

.u-align-start {
	align-items: start;
}

.u-flex-column {
	flex-direction: column;
}

.u-flex-row {
	flex-direction: row;
}

.u-with-100 {
	width: 100%;
}

@media(max-width: 768px) {
	html {
		font-size: 14px;
	}
}

.button-primary {
	color: var(--button-primary-color);
	background: var(--button-primary-background);

	transition: all ease-in-out .3s;

	text-align: center;
	font-size: 1rem;
	font-weight: bold;
	padding: .7rem 0;
	border-radius: .4rem;
	border: 0;
	text-decoration: none;
}

.button-primary:hover,
.button-primary:focus {
	color: var(--button-primary-background);
	background: var(--button-primary-color);
}